body {
    padding-top: 50px;
}

.pivot_table {
    padding-top: 50px;
    text-align: center;

}

.nav-tabs > li,
.nav-pills > li {
    padding-top: 40px;
    float: none;
    display: inline-block;
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

.container {
    width: 90%;
}

.panel {
    width: 70%;
    display: inline-block;
}

.panel-body {
    text-align: center;
    padding-bottom: 50px;
}

.dropdown {
    width: auto;
    height: auto;
}