<!DOCTYPE html>
{% extends "navibar.html" %}
{% set active_page = "home" %}

{% block body %}
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container">
            
          <div class="inner cover">
              <h1 class="cover-heading">United States I/O Database since 1992</h1>
            <p class="lead">An American Economics Research after Cold War, 1992</p>
            <p class="lead">
              <a href="pivot_table.html" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright &copy; 2016 Xixiang Wu, Boyuan Chen and Yu Lan</p>
        
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}