<!--pivot_table.html-->

{% set parameters = [ ('',) ] -%} {% set active_page = active_page|default('index') -%}




<link href="/assets/bootstrap.min.css" rel="stylesheet">
<link href="/assets/pivot_table_builder.css" rel="stylesheet">
<!--Navigation Bar-->
{% extends "navibar.html" %} {% set active_page = "pivot_table_builder" %}




<!--Table-->
{% block body %}



<form action='pivot_table_builder.html' method='POST'>

    <div class="container">
        <div class="pivot_table">
            <h1>Pivot Table Builder</h1>
            <ul class="nav nav-pills">
                <!--Dropdown-->
                <li>
                    <div class="col-sm-3">
                        <div class="panel-body">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="label">Select One</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Another item</a>
                                    </li>
                                    <li>
                                        <a href="#">This is a longer item that will not fit properly</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
            <!--Dropdown-->
            <div class="table">
                {{table}}
            </div>
            <p class="lead"></p>
            
            <button onclick="myFunction()"> submit </button>
            
            <script>
                $(document.body).on('click', '.dropdown-menu li', function (event) {

                    var $target = $(event.currentTarget);

                    $target.closest('.btn-group')
                        .find('[data-bind="label"]').text($target.text())
                        .end()
                        .children('.dropdown-toggle').dropdown('toggle');
                    return false;
                });
                
                function myFunction() {
                    aler($(".btn-group span").text())
                        $(".btn-group span").text().ajaxSubmit({url: 'pivot_table_builder.html', type: 'post'})
                    }
                
            </script>

            <!--everything here-->

        </div>
    </div>
</form>
        {% endblock %}