<!--pivot_table.html-->

<link href="/assets/bootstrap.min.css" rel="stylesheet">

<!--Navigation Bar-->
{% extends "navibar.html" %} {% set active_page = "pivot_table_builder" %}




<!--Table-->
{% block body %}



<form action='pivot_table_builder.html' method='POST'>

    <div class="container">
        <div class="pivot_table">
            <h1>Pivot Table Builder</h1>
            <div class="col-sm-3">
                <div class="panel-body">
                    <div class="filter">
                        <h2>Filter</h2>
                        <ul class="nav nav-pills nav-justified">
                            <li>
                                <div>
                                    <!--Filter name-->
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span data-bind="label">Select One</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="filterName" role="menu">
                                        <li>
                                            <a href="#">Period</a>
                                        </li>
                                        <li><a href="#">Total Balance</a></li>
                                        <li><a href="#">Goods Balance</a></li>
                                        <li><a href="#">Service Balance</a></li>
                                        <li><a href="#">Total Exports</a></li>
                                        <li><a href="#">Export Inc/Dec</a></li>
                                        <li><a href="#">Goods Exports</a></li>
                                        <li><a href="#">Services Exports</a></li>
                                        <li><a href="#">Total Imports</a></li>
                                        <li><a href="#">Import Inc/Dec</a></li>
                                        <li><a href="#">Goods Imports</a></li>
                                        <li><a href="#">Services Imports</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <!--Filter Query-->
                                <div class="filterQuery">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span data-bind="label">Select One</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="filterQuery" role="menu">
                                        <li>
                                            <a href="#">Item 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Another item</a>
                                        </li>
                                        <li>
                                            <a href="#">This is a longer item that will not fit properly</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Dropdown-->
            <div class="table">
                {{table}}
            </div>
            <p class="lead"></p>

            <button type='button' class='btn' id='submit'> submit </button>

            <script>
                var dict = {};

                // get dropdown auto change value
                $(document.body).on('click', '.dropdown-menu li', function (event) {

                    var $target = $(event.currentTarget);

                    id = $(this).parent().prop('id');

                    $target.closest('.' + id)
                        .change(dict[id] = $.trim($target.text()))
                        .find('[data-bind="label"]').text($target.text())
                        .end()
                        .children('.dropdown-toggle').dropdown('toggle');

                    return false;
                });

                // submit
                function submit_para(event) {
                    $.ajax({
                        url: '/pivot_table_builder.html'
                        , type: 'POST'
                        , data: dict
                        , success: function () {
                            alert("ok!");
                        }
                    });

                    event.preventDefault()
                }

                $(document).ready(
                    function docInit() {
                        $('#submit').click(submit_para); // call function ajaxRequest upon clicking
                    }
                );
            </script>
            <!--everything here-->
        </div>
    </div>
</form>
{% endblock %}